<section class="create-new-post">
  <h2 class="new-post-title">Create New Post</h2>

  <form class="new-post-form card">
    <div>
      <label for="post-title col-md-2">Title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="youtube-url col-md-2">Youtube Link:</label>
      <input id="youtube-url" name="youtube-url" />
    </div>
    <div>
      <label for="description col-md-2">Describe the recipe:</label>
      <input id="description" class="description" name="description" />
    </div>
    <div class="container">
      <button type="submit" class="create-btn btn hide col-md-2 ">Create</button>
    </div>

  </form>
</section>
{{!-- {{#if user.id === this.id }} --}}
{{!-- {{#if recipe.user_id === user.id }} --}}
{{#if recipes.length}}
<section>
  <h2 class="post-title">Your Posts</h2>
  {{#each recipes}}
  <ol>
    
    <li>
      <article class="post container card mb-3">
        <div class="recipe-title-card container row">
          <a href="{{title}}" target="_blank" class="recipe-title card-title col-md-3">{{title}}</a>
          <span class="col-md-auto">{{description}}</span>
        </div>
        <div class="container row justify-content-end edit-delete-btn">
          <button type="button" class="delete-post-btn hide col-md-2 p-md-2" id="{{this.id}}">Delete post</button>
          <a href="/edit/{{this.id}}" class="edit-link-btn edit-post-form btn hide col-md-2 p-md-2">Edit post</a>
        </div>
      </article>
    </li>
   
  </ol> 
  {{/each}}
</section>
{{/if}}


<script src='/javascript/add-post.js'></script>
<script src="/javascript/edit-post.js"></script>
{{!-- <script src="/javascript/upvote.js"></script> --}}