<section class="card mb-3">
  <h2>Create New Post:</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="youtube-url">Youtube Link:</label>
      <input id="youtube-url" name="youtube-url" />
    </div>
    <div>
      <label for="description">Describe the recipe:</label>
      <input id="description" class="description" name="description" />
    </div>
    <button type="submit" class="btn hide">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{format_url post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
      </article>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src='/javascript/add-post.js'></script>