{{!-- TESTING DATA TO SEE IF ROUTE WORKS --}}
{{!-- {{#each cards}}
<div class="card">
  <iframe src={{ link }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}} --}}

{{#each cards}}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <iframe src={{format_url link }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{{/each}}